* {
    background-image:url("https://i.ytimg.com/vi/LjP43T2ABSs/maxresdefault.jpg");
}

h1,
.recipe-names {
    text-align: center;
}

.recipe-names {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c6684;
}